{
"name": "prometheus",
"type": "prometheus",
"isDefault": true,
"typeLogoUrl": "",
"access": "proxy",
"url": "{{ prometheus_host }}",
"basicAuth": false,
"withCredentials": false,
"jsonData": {
    "tlsSkipVerify":true,
    "httpHeaderName1":"Authorization"
  }
}