# change this for each broker
broker.id={{ id }}

listeners=PLAINTEXT://0.0.0.0:9092{% if kafka_ssl_enable -%},SSL://0.0.0.0:9093{% endif %}

advertised.listeners=PLAINTEXT://{{ ansible_host }}:9092{% if kafka_ssl_enable -%},SSL://{{ ansible_host }}:9093{% endif %}


{% if kafka_ssl_enable %}
ssl.keystore.location=/opt/kafka/ssl/kafka.server.keystore.jks
ssl.keystore.password={{ kafka_ssl_password }}
ssl.key.password={{ kafka_ssl_password }}
ssl.truststore.location=/opt/kafka/ssl/kafka.server.truststore.jks
ssl.truststore.password={{ kafka_ssl_password }}
ssl.endpoint.identification.algorithm=

# ssl.client.auth=required
# ssl.endpoint.identification.algorithm=https
{% endif %}

# The ability to delete topics
delete.topic.enable=true

# Where logs are stored
log.dirs=/data/kafka

# default number of partitions
num.partitions=3

# default replica count based on the number of brokers
default.replication.factor=1

# to protect yourself against broker failure
min.insync.replicas=1

# logs will be deleted after how many hours
log.retention.hours=168

# size of the log files 
log.segment.bytes=1073741824

# check to see if any data needs to be deleted
log.retention.check.interval.ms=300000

# location of all zookeeper instances and kafka directory
# zookeeper.connect=zookeeper1:2181/kafka

zookeeper.connect={{ groups['kafka'] | join(":{0},".format(2181)) }}:2181/kafka

# timeout for connecting with zookeeper
zookeeper.connection.timeout.ms=6000

# automatically create topics
auto.create.topics.enable=true